/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.userpage {
    .toDiaryCreateForm {
        right: 10%;
    }
    .toDiarySearch {
        left: 10%;
    }
}