/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.form {
    &__button {
        &--loading {
            left: 15%;
        }
    }
}
.diary-create {
    &__title {
        font-size: 32px;
    }
    .diary-form {
        &__info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 10px;
            margin-bottom: 30px;
        }
        &__item {
            width: 45%;
            &--textarea {
                height: 200px;
            }
            &--input {
                &.settlement {
                    width: 85%;
                }
            }
            &--label {
                display: block;
            }
            &--file {
                width: 100%;
            }
            &.textarea {
                width: 100%;
            }
            &.img {
                width: 100%;
            }
        }
        &__entry,
        &__exit {
            .formarea {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        &__title {
            font-size: 22px;
            margin-bottom: 20px;
            padding: 5px 0;
        }
        &__preview {
            img {
                max-width: 100%;
                height: auto;
            }
        }
        &__button {
            width: 30%;
        }
    }
    .diary-edit__button {
        &--done {
            width: 30%;
            margin-left: 15px;
        }
        &--cancel {
            width: 30%;
            margin-right: 15px;
        }
    }
}


.search {
    margin-bottom: 30px;
    .search-form {
        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 25px;
        }
        &__title {
            font-size: 32px;
        }
        &__item {
            width: 45%;
            &--textarea {
                height: 200px;
            }
            &--label {
                display: block;
            }
        }
        &__buttonarea {
            padding: 0 30px;
        }
        &__button {
          width: 30%;
        }
    }
}

.analysis {
    &__currency-chart, &__position-chart {
        width: 65%;
    }
    &__win-rate, &__total {
        width: 60%;
        margin-bottom: 50px;
    }
    &__content {
        font-size: 32px;
    }
    &__title {
        font-size: 24px;
    }
}